/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  color: black;
  background-color: white;
}

/* Add dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #121212;
  }
}
